<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Forget-Password</title>
    <style>
        .container{
        max-width: 1200px;
        width: 90%;
        margin:auto;
        padding: 1rem;
        border-radius: 2px;
        text-align: center;
        background-color: gray;
        }
        .container label{
            display: block;
            width: 100%;
        }

        .container h2::after{
            content: "";
            display: block;
            width: 100%;

        }
        .btn{
            margin-top: 1rem;
        }
    </style>
</head>
<body>
    <form action="/forget-password" method="POST">
        <div class="container">
            <h2>Forget password</h2>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
</body>
</html>